<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 恢復滾動位置
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, scrollPosition);
            sessionStorage.removeItem('scrollPosition');
        }

        // 為所有表單提交按鈕添加點擊事件
        const forms = document.querySelectorAll('form');
        forms.forEach(form => {
            form.addEventListener('submit', function () {
                sessionStorage.setItem('scrollPosition', window.scrollY);
            });
        });
    });
</script>