{% load static %}
<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>水利建造物水文水理分析平台</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="stylesheet" href="{% static 'Inlet_Design/css/style.css' %}" />
  </head>
  <body>
    <header>
        <div class="px-2 py-1 bg-primary" >
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none ps-0">
                    <img src="{% static 'Inlet_Design/images/logo.png' %}" alt="Logo" class="me-3" style="height: 40px; "/>
                    <h5 class="text-light"><strong>進水口設計</strong></h5>
                </a>
                
            </div>
            </div>
        </div>          
        
    </header> 
    <div class="container-fluid d-flex p-0 content-wrapper " >  
        <main class="main-content col-sm-12 col-lg-12">
            {% block template %}
            
            {% endblock %}
        </main>
      
    </div>   

  </body>
</html>