.transition-hover-effect {
        
    transition: box-shadow 0.3s ease, transform 0.3s ease;
   
    cursor: pointer;
}

.transition-hover-effect:hover {
    box-shadow:  0 0 10px 10px rgba(91,155, 213, 0.8); /* hover 光暈變化 */
}
.tunnel-hover-effect {
    
  transition: box-shadow 0.3s ease, transform 0.3s ease;
 
  cursor: pointer;
}

.tunnel-hover-effect:hover {
  box-shadow:  0 0 10px 10px rgba(131, 255, 252, 0.8); /* hover 光暈變化 */
}
.spillway-hover-effect {
    
transition: box-shadow 0.3s ease, transform 0.3s ease;

cursor: pointer;
}

.spillway-hover-effect:hover {
  box-shadow:  0 0 10px 10px rgba(255, 192, 0, 0.7); /* hover 光暈變化 */
}
.shape_transition-hover-effect {
      
transition: box-shadow 0.3s ease, transform 0.3s ease;

cursor: pointer;
}

.shape_transition-hover-effect:hover {
box-shadow:  0 0 10px 10px rgba(242, 156, 156, 0.8); /* hover 光暈變化 */
}
.structure-hover-effect:hover {
box-shadow:  0 0 10px 10px rgba(255, 153, 0, 0.8); /* hover 光暈變化 */
}

.yellow-box {
  position: absolute;
  bottom: 5%; /* 距離圖片底部 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中修正 */
  width: 95%; /* 方框寬度 */
  height: 50px; /* 方框高度 */
  background-color: rgba(255, 192, 0, 0.6); /* 黃色 + 0.5透明度 */
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  text-align: center; /* 文字居中對齊 */
  font-size: 20px; /* 調整字體大小 */
  font-weight: bold; /* 調整字體粗細 */

 }
.crayon-box {
  position: absolute;
  bottom: 5%; /* 距離圖片底部 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中修正 */
  width: 95%; /* 方框寬度 */
  height: 50px; /* 方框高度 */
  background-color: rgba(131, 255, 252, 0.5);
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  text-align: center; /* 文字居中對齊 */
  font-size: 20px; /* 調整字體大小 */
  font-weight: bold; /* 調整字體粗細 */
}
.blue-box {
  position: absolute;
  bottom: 5%; /* 距離圖片底部 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中修正 */
  width: 95%; /* 方框寬度 */
  height: 50px; /* 方框高度 */
  background-color: rgba(91,155, 213, 0.5);
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  text-align: center; /* 文字居中對齊 */
  font-size: 20px; /* 調整字體大小 */
  font-weight: bold; /* 調整字體粗細 */
}
.red-box {
  position: absolute;
  bottom: 5%; /* 距離圖片底部 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中修正 */
  width: 95%; /* 方框寬度 */
  height: 50px; /* 方框高度 */
  background-color: rgba(242, 156, 156, 0.5);
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  text-align: center; /* 文字居中對齊 */
  font-size: 20px; /* 調整字體大小 */
  font-weight: bold; /* 調整字體粗細 */
}
.brown-box {
  position: absolute;
  bottom: 5%; /* 距離圖片底部 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中修正 */
  width: 95%; /* 方框寬度 */
  height: 50px; /* 方框高度 */
  background-color: rgba(255, 153, 0, 0.5);
  display: flex; /* 使用 Flexbox */
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  text-align: center; /* 文字居中對齊 */
  font-size: 20px; /* 調整字體大小 */
  font-weight: bold; /* 調整字體粗細 */
}
.gray-box {
    height: 10px; /* 方框高度 */
    background: linear-gradient(to right, rgba(66, 66, 66, 0.9), rgba(255, 255, 255, 0.5)); /* 漸層 */
}
.nav-link{
  height: 60px; /* 方框高度 */
  width: 200px;
  font-size: 20px; /* 文字大小 */
  text-align: center; /* 文字置中 */
  display: flex; /* 為了讓文字垂直置中 */
  align-items: center; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  background-color: rgba(165, 165, 165, 1);
  font-weight: bold;
  margin-right: 5px;
}
#fig1 {
  display: none; 
  border: 1px solid #ccc;
  margin-left: 3px;
  margin-top: 2px;
  width: 700px;
  height:450px;
  background-color: rgb(255, 255, 255);
}
.tunnel-table td:nth-child(3) {
  text-align: right;
}
#clean-table {
  border-collapse: collapse;
  border: none;
  background-color: transparent;
}

#clean-table td, 
#clean-table th {
  border: none;
  background-color: transparent;
  padding: 4px;
}
#clean-table td:nth-child(1) {
  width: 20%;
}
#clean-table td:nth-child(2) {
  width: 30%;
}
#clean-table td:nth-child(3) {
  width: 30%;
}#clean-table td:nth-child(4) {
  width: 20%;
}
#small-table td,
#small-table th{
  border: 1px solid black;
  border-collapse: collapse;
}
.highlight-row {
  background-color: yellow !important;
  text-align: right !important;
}
.highlight-label {
  writing-mode: vertical-lr;
  position: absolute;
  margin-left: -15px; 
  margin-top: 290px;   
  font-size: 20px;
 color:#BF9000;
 font-weight: bold}


 #blue-table th {
  border: 1px solid black;
   background-color: #83FFFC;
 }
 #blue-table td {
  border: none;
   background-color: transparent;
 }
 .green_iput{
  background-color: #00FF99 !important;
  max-width: 80px;
 }
 .calc-button {
  background-color: #FFA500; /* 橘色背景 */
  color: white;              /* 白色文字 */
  border: none;              /* 無邊框 */
  padding: 12px 28px;        /* 內距 */
  font-size: 20px;           /* 文字大小 */
  font-weight: bold;
  border-radius: 12px;       /* 圓角 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* 陰影 */
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
  margin-left: 250px; 
}

.calc-button:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.calc-button2 {
  background-color: #FFA500; /* 橘色背景 */
  color: white;              /* 白色文字 */
  border: none;              /* 無邊框 */
  padding: 12px 28px;        /* 內距 */
  font-size: 20px;           /* 文字大小 */
  font-weight: bold;
  border-radius: 12px;       /* 圓角 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* 陰影 */
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
  margin-left: 100px; 
}

.calc-button2:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.cal-button {
  border: none;              /* 無邊框 */
  padding: 12px 28px;        /* 內距 */
  font-size: 14px;           /* 文字大小 */
  font-weight: bold;
  border-radius: 12px;       /* 圓角 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* 陰影 */
  cursor: pointer;
  transition: all 0.2s ease;
}

.cal-button:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

#small-table{
  border-collapse: collapse;
}

#small-table td {
  padding: 0;
}
.output-button{
  border: none;              /* 無邊框 */
  padding: 12px 20px;        /* 內距 */
  font-size: 17px;           /* 文字大小 */
  font-weight: bold;
  border-radius: 10px;       /* 圓角 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* 陰影 */
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 10px;
  width: 160px;
}
#calculation-table{
  border-collapse: collapse;
  padding: 12px 28px;
}
#calculation-table th, 
  #calculation-table td,
  #waterlevel-table {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    font-size: 12px;
  }
  #calculation-inlet-table,
  #calculation-inlet-initial-table,
  #calculation-transition-shape-table,
  #waterlevel-table{
    border-collapse: collapse;
    padding: 12px 28px;
  }
  #calculation-inlet-table th, 
    #calculation-inlet-table td,
    #calculation-inlet-initial-table th, 
    #calculation-inlet-initial-table td,
    #calculation-transition-shape-table th,
    #calculation-transition-shape-table td,
    #waterlevel-table th,
    #waterlevel-table td {
      border: 1px solid black;
      padding: 4px;
      text-align: center;
      font-size: 12px;
    }
  #clean-table2 {
    border-collapse: collapse;
    border: none;
    background-color: transparent;
  }
  
  #clean-table2 td, 
  #clean-table2 th {
    border: none;
    background-color: transparent;
    padding: 4px;
  }
  #clean-table2 td:nth-child(1) {
    width: 28%;
  }
  #clean-table2 td:nth-child(2) {
    width: 7%;
  }
  #clean-table2 td:nth-child(3) {
    width: 40%;
  }#clean-table2 td:nth-child(4) {
    width: 20%;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
  }
  .close-button {
    position: absolute;
    top: 8px;
    left: 45%;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .circle-number {
    display: inline-block;
    background-color: yellow;
    color: red;
    border: 2px solid #41719C;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-left: 15px;
  }
  #clean-table3 {
    border-collapse: collapse;
    border: none;
    background-color: transparent;
  }
  #clean-table3 td, 
  #clean-table3 th
 {
    border: none;
    background-color: transparent;
    padding: 4px;
  }
  #clean-table3 td:nth-child(1) {
    width: 35%;
  }
  #clean-table3 td:nth-child(2) {
    width: 15%;
  }
  #clean-table3 td:nth-child(3) {
    width: 15%;
  }#clean-table3 td:nth-child(4) {
    width: 10%;
  }#clean-table3 td:nth-child(5) {
    width: 25%;
  }
  #selection-table td{
    background-color: transparent;
    padding: 4px;
    border-width:1px
  }
  #selection-table {
    background-color: transparent;
    width:80%
  }
  #selection-table td:nth-child(2) {
    text-align: center;
  }
  #selection-table td:nth-child(3) {
    color:green
  }
  #waterlevel-table,
  #waterlevel-table td,
  #transition-shape-table,
  #transition-shape-table td {
    border-collapse: collapse;
    background-color: transparent;
    border-width:1px;
    text-align: center;

  }
  #transition-shape-table td:nth-child(1) {
    background-color: #FCE4D6;
  }
